
<div id="menu_button" class="menu_button_hud">
    <a href="/ueber-uns">
        <div id="menu_button_label">Über uns</div>
        <div id="menu_button_circle"><div>i</div></div>
    </a>
</div>


<section id="splashscreen">
    <div id="splashscreen_back" onclick="this.parentNode.style.display='none';"></div>
    <div id="splashscreen_container">
        <div id="splashscreen_text">
            <div id="splashscreen_text_statement">Wie sieht Berlin aus, wenn wir überall mit dem Fahrrad sicher und entspannt unterwegs sein können? Wie können wir dieses Ziel miteinander am schnellsten erreichen?</div>
            <br>
            FixMyBerlin ist in der Entwicklung. Die Karte zeigt zunächst die vorhandenen Radverkehrsanlagen in Berlin, so wie sie von der Senatsverwaltung zur Verfügung gestellt werden. Dazu werden die Unfallschwerpunkte der letzten 2 Jahre abgebildet. (Dank an Stefan Wehrmeyer) Die Plattform soll zukünftig Radverkehrsplanungen des Senates und der Bezirke übersichtlich abbilden und verschiedene Feedback- und Beteiligungsmöglichkeiten bieten. Für aktuelle Informationen abonniert unseren Newsletter. <a>Kontakt</a> für Feedback und Anregungen.
            <input type="email" id="splashscreen_newsletter_email" placeholder="Deine E-Mail Adresse">
            <div id="splashscreen_newsletter_email_button">Newsletter abonnieren</div>
            {{ block_simple_newsletter }}
        </div>
        <img id="splashscreen_logo" src="/themes/fixmycustom/logo.png">
    </div>
</section>

<script type="text/javascript">

    var current_timestamp=Date.now();

    var last_saved_timestamp=localStorage.getItem("splashscreen_timestamp");

    if ( last_saved_timestamp==null || current_timestamp-last_saved_timestamp > 1 * 24 * 60 * 60 * 1000  ) { // 1 min
        localStorage.setItem("splashscreen_timestamp",current_timestamp);
        document.getElementById("splashscreen").style.display="block";
    }

</script>



<div id="map_container">

  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />

  <div id="map" onmousedown="mapActionDown(event);" onmousemove="mapActionMove(event);" onclick="mapAction(event);"></div>

  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>

  <style type="text/css" id="berliner_bezirke">
    #layer {
     polygon-fill: ramp([spatial_name], (#5F4690, #a0d9f1, #38A6A5, #0F8554, #73AF48, #EDAD08, #f49a2f, #CC503E, #94346E, #6F4070, #666666), ("01", "02", "03", "04", "05", "06", "07", "08", "09", "10"), "=");
     polygon-opacity: 0.0;
     line-width: 3;
     line-color: #585858;
     line-opacity: 0.5;
     line-dasharray: 5,5;

    #XHain [spatial_name='02']{
     polygon-fill: #b4af97;
     polygon-opacity: 0.3;
     line-width: 3;
     line-color: #a3a3a3;

     }
    }
  </style>

  <style type="text/css" id="unfallschwerpunkte_2015">
    @signal15: #f78900;
    #layer {
      [zoom >= 15] {
       marker-width: ramp([count], range(5, 40), quantiles(5)) }
      [zoom = 14] {
       marker-width: ramp([count], range(0, 30), quantiles(5)) }
      [zoom = 13] {
       marker-width: ramp([count], range(0, 25), quantiles(5)) }
      [zoom <= 12] {
       marker-width: ramp([count], range(0, 20), quantiles(5)) }
        [zoom <= 10] {
       marker-width: ramp([count], range(0, 7), quantiles(5)) }

     marker-fill: @signal15;

     marker-allow-overlap: true;
     marker-line-width: 3;
     marker-line-color: #ffffff;


    }


    #Unfallnichtschwer [count <= 9] [zoom<15]{
     marker-opacity: 0.3;
    }


     #Unfallschwerpunkte [count >= 12] [zoom<15]{
     ::labels {
       text-name:"[count]";
       text-face-name: 'Open Sans Bold';
       text-fill: #ffffff;
       text-allow-overlap:true;
             marker-opacity: 0.6;

       }}
        /*


    #labelsschwerpunkte [count>=12][zoom>=15]
    ::labels {
     text-name: [count] + [name];
     text-face-name: 'DejaVu Sans Book';
     text-size: 10;
     text-label-position-tolerance: 10;
     text-fill: #e17cc1;
     text-halo-fill: rgba(255,255,255,0.6);
     text-halo-radius: 4	;
     text-dy: 0;
     text-allow-overlap: true;
     text-placement: point;
     text-placement-type: simple;
           marker-opacity: 0.6;

    }*/
  </style>


  <style type="text/css" id="unfallschwerpunkte_2016">
    @signal16: #ff6100;
    #layer {
      [zoom >= 15] {
       marker-width: ramp([count], range(5, 40), quantiles(5)) }
      [zoom = 14] {
       marker-width: ramp([count], range(0, 30), quantiles(5)) }
      [zoom = 13] {
       marker-width: ramp([count], range(0, 25), quantiles(5)) }
      [zoom <= 12] {
       marker-width: ramp([count], range(0, 20), quantiles(5)) }
        [zoom <= 10] {
       marker-width: ramp([count], range(0, 7), quantiles(5)) }

     marker-fill: @signal16;

     marker-allow-overlap: true;
     marker-line-width: 3;
     marker-line-color: #ffffff;


    }

    #Unfallnichtschwer [count <= 9] [zoom<15]{
     marker-opacity: 0.2;
    }

     #Unfallschwerpunkte [count >= 10] [zoom<15]{
     ::labels {
       text-name:"[count]";
       text-face-name: 'Open Sans Bold';
       text-fill: #ffffff;
       text-allow-overlap:true;
             marker-opacity: 0.6;

       }}

        /*

    #labelsschwerpunkte [count>=10][zoom>=15]
    ::labels {
     text-name: [count] + [name];
     text-face-name: 'DejaVu Sans Book';
     text-size: 10;
     text-label-position-tolerance: 10;
     text-fill: #e17cc1;
     text-halo-fill: rgba(255,255,255,0.6);
     text-halo-radius: 4	;
     text-dy: 0;
     text-allow-overlap: true;
     text-placement: point;
     text-placement-type: simple;
           marker-opacity: 0.6;

    }*/
  </style>



  <style type="text/css" id="radanlagen">

      @grn: #66c9df;
    @org:#7fa2bc;

    #layer {

     [zoom >= 17] {
     line-width: 4;}
     [zoom >= 15][zoom <=17] {
     line-width: 3;}
     [zoom <= 14][zoom >=11] {
     line-width: 2; }
     [zoom <= 11]{
     line-width: 1; }


     }

     #schutzstreifen [rva_typ = 'Schutzstreifen'] {
     line-opacity: 0.5;
     line-color: @grn;
    }

     #Radfahrstreifen [rva_typ = 'Radfahrstreifen']{
     line-opacity: 0.8;
     line-color: @grn;
    }

     #Radwege [rva_typ = 'Radwege']  {
     line-opacity: 0.5;
    line-color: @org;
    }

     #Bussonderfahrstreifen [rva_typ = 'Bussonderfahrstreifen']  {
     line-opacity: 0.4;
    line-color: @org;}
  </style>




  <style type="text/css" id="radverkehrsprojekte">
    #layer {
      line-width: 7;
      line-color: ramp([type_feedback], (#cd38c6, #641d96, #df98e8), ("Feedback", "Like", "Review"), "=");
    }
  </style>
  <script>

    // Setup ------------------------------------------------

    var map = new L.Map('map', {
      center: [52.510789, 13.459593],
      zoom: 11,
      minZoom: 11,
      maxZoom: 15,
    });

    // Basemap ----------------------------------------------

    var is_retina=window.devicePixelRatio>=2?"@2x":"";

    L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}'+is_retina+'.png', {
        attribution: 'Positron'
      }).addTo(map);

    // Layer Bezirke ----------------------------------------

    cartodb.createLayer(map, {
        user_name: 'hejco',
        type: 'cartodb',
        sublayers: [{
          sql: "SELECT * FROM berliner_bezirke",
          cartocss: $('#berliner_bezirke').html(),
        }]
      })
      .addTo(map)
      .done(function(layer) {
            layer_data["bezirke"]["carto_layer"]=layer;
      });

    // Layer Radanlagen ----------------------------------------

    cartodb.createLayer(map, {
        user_name: 'hejco',
        type: 'cartodb',
        sublayers: [{
          sql: "SELECT * FROM berlinradverkehrsanlagen10112015_copy",
          cartocss: $('#radanlagen').html(),
        }]
      })
      .addTo(map)
      .done(function(layer) {
            layer_data["radanlagen"]["carto_layer"]=layer;
      });

    // Layer Unfallschwerpunkte ----------------------------------------

    cartodb.createLayer(map, {
        user_name: 'hejco',
        type: 'cartodb',
        sublayers: [{
          sql: "SELECT * FROM accident_points_2015_1",
          cartocss: $('#unfallschwerpunkte_2015').html(),
        },
        {
          sql: "SELECT * FROM berlin_bike_accident_spots_2016",
          cartocss: $('#unfallschwerpunkte_2016').html(),
        }]
      })
      .addTo(map)
      .done(function(layer) {
            layer_data["unfallschwerpunkte"]["carto_layer"]=layer;
      });

    // Maßnahmen VEKTOR -------------------------------------

    var color_def={     // grün     // magenta
        "Like":         "#E1A2E9",
        "Feedback":     "#BA1DC8",
        "Dialog":       "#FF3CD3",
        "Review":       "#652097"
    };

    var sql = new cartodb.SQL({ user: 'bosh', format: 'geojson' });

    var map_marking_wide;
    var map_marking_close;
    var map_marking_line;

    function mapAddMarkings(geo_data,properties) {

        map_marking_wide = L.geoJson(geo_data, {
                style: {
                    color: color_def[properties["type_feedback"]],
                    fillColor: "#fff",
                    weight: 80,
                    opacity: 0.1,
                },
            }).addTo(map);

        map_marking_close = L.geoJson(geo_data, {
                style: {
                    color: color_def[properties["type_feedback"]],
                    fillColor: "#fff",
                    weight: 30,
                    opacity: 0.2,
                },
            }).addTo(map);

        map_marking_line = L.geoJson(geo_data, {
                style: {
                    color: color_def[properties["type_feedback"]],
                    fillColor: "#fff",
                    weight: 8,
                    opacity: 1,
                },
            }).addTo(map);

    }

    function mapRemoveMarkings() {

        // alte markings entfernen

        if (map_marking_wide) {
            map.removeLayer(map_marking_wide);
        }

        if (map_marking_close) {
            map.removeLayer(map_marking_close);
        }

        if (map_marking_line) {
            map.removeLayer(map_marking_line);
        }

    }

    sql.execute("SELECT the_geom,type_feedback,uuid FROM radverkehrsprojekte WHERE do_import='1'").done(function(geojson) { //cartodb_id="+cartodb_id
        for (var i=0;i<geojson.features.length;i++) {
            L.geoJson(geojson.features[i], {
                    style: {
                        color: color_def[geojson.features[i].properties["type_feedback"]],
                        fillColor: "#fff",
                        weight: 5,
                        opacity: 0.9,
                    },
                    className:"leaflet-clickable-hover",
                }).addTo(map)
                .on("click",function(data) {

                    mapRemoveMarkings();

                    (function(geo_data,properties) {
                        mapAddMarkings(geo_data,properties);
                    })(data.layer.feature.geometry,data.layer.feature.properties); // neue markings hinzufügen

                    // projekt laden
                    loadProjectByUUID(data.layer.feature.properties["uuid"]);

                });

        }
    });



</script>
</div>

<script>

    // mapping project uuid to nid and alias
    var project_mapping = {{ project_mapping|json_encode|raw }};

</script>

<ul id="map_layer"></ul>

<div id="map_overlay_container" class="map_overlay_container_hidden">

    <div id="map_overlay_triangle"></div>

    <div id="map_overlay_inner">

        <!-- MAP OVERLAY INNER START -->

        <div id="map_overlay_head">

            <div id="map_overlay_head_wappen" class="map_overlay_head_wappen_friedrichshain_kreuzberg"></div>
            <h2 id="map_overlay_head_label">
                Projekt #{{ content.field_project_number }}<br>
                {{ content.field_project_type }}
            </h2>
            <div id="map_overlay_head_status" class="map_overlay_head_status_{{ content.field_project_status[0]['#plain_text']|clean_class }}">
                <div class="map_overlay_head_status_label" id="map_overlay_head_status_label_vorschlag">Vorschlag</div>
                <div class="map_overlay_head_status_label" id="map_overlay_head_status_label_planung">Planung</div>
                <div class="map_overlay_head_status_label" id="map_overlay_head_status_label_ausfuehrung">Ausführung</div>
                <div class="map_overlay_head_status_label" id="map_overlay_head_status_label_fertiggestellt">Fertiggestellt</div>
                <div class="map_overlay_head_status_label" id="map_overlay_head_status_label_review">Review</div>
            </div>
            <a class="map_overlay_head_social_media map_overlay_head_social_media_t" target="_blank" href="https://twitter.com/home?status={{ url('<current>') }}">t</a>
            <a class="map_overlay_head_social_media map_overlay_head_social_media_f" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}">f</a>

        </div>

        <div id="map_overlay_data">

            <ul id="map_overlay_gallery">
                {{ content.field_project_images }}
            </ul>

            <h1 id="map_overlay_head_title">
                {{ node.label }}
                <div style="display:none;">
               {{ content.votingapi_links }}
               </div>
            </h1>

            <div class="map_overlay_title">Ziel dieser Maßnahme</div>
            <div class="map_overlay_content">{{ content.body }}<!--<a>mehr dazu</a>--></div>

            <div class="map_overlay_divide"><div></div><div></div></div>

            <div class="map_overlay_title">Fakten zur Maßnahme</div>
            <div class="map_overlay_content">
                <span class="map_overlay_content_fact"><span>Bauzeit:</span> Vorrausichtlich {{ content.field_project_period }}</span>
                <span class="map_overlay_content_fact"><span>Kosten:</span> ca. {{ content.field_project_costs }} €</span>
            </div>

            <div class="map_overlay_divide"><div></div><div></div></div>

            <div class="map_overlay_title">Zahlen und Daten</div>
            <div id="map_overlay_bignumber_slider">
                <div class="map_overlay_bignumber_element">
                    <div class="map_overlay_bignumber">+20%</div>
                    <div class="map_overlay_bignumber_label">mehr Radverkehr seit 2005</div>
                </div>
                <div class="map_overlay_bignumber_element">
                    <div class="map_overlay_bignumber">-15%</div>
                    <div class="map_overlay_bignumber_label">weniger Feinstaub (Ziel bis 2019)</div>
                </div>
                <div class="map_overlay_bignumber_element">
                    <div class="map_overlay_bignumber">-30%</div>
                    <div class="map_overlay_bignumber_label">weniger schwere Unfälle (Ziel bis 2018)</div>
                </div>
                <div class="map_overlay_bignumber_element">
                    <div class="map_overlay_bignumber">-17%</div>
                    <div class="map_overlay_bignumber_label">weniger Lärm für die Anwohner</div>
                </div>
            </div>

        </div>

        <div id="map_overlay_voting">
            <div class="map_overlay_voting_container" id="map_overlay_voting_container_gut" onclick="votingAction(this);">
                <div class="map_overlay_voting_icon"></div>
                <div class="map_overlay_voting_description">Find ich gut!</div>
            </div>
            <div class="map_overlay_voting_container" id="map_overlay_voting_container_gut_aber" onclick="votingAction(this);">
                <div class="map_overlay_voting_icon"></div>
                <div class="map_overlay_voting_description">Gut, aber</div>
            </div>
            <div class="map_overlay_voting_container" id="map_overlay_voting_container_gefallt_mir_nicht" onclick="votingAction(this);">
                <div class="map_overlay_voting_icon"></div>
                <div class="map_overlay_voting_description">Gefällt mir nicht!</div>
            </div>
            <div id="map_overlay_voting_feedback">
                <div id="map_overlay_voting_feedback_title">
                    <div class="map_overlay_voting_feedback_title_element" id="map_overlay_voting_feedback_title_gut_aber">Was stört Dich an dieser Maßnahme?</div>
                    <div class="map_overlay_voting_feedback_title_element" id="map_overlay_voting_feedback_title_gefallt_mir_nicht">Was könnte an dieser Maßnahme noch verbessert werden?</div>
                </div>
                <div id="map_overlay_voting_feedback_placeholder">
                    <div id="map_overlay_voting_feedback_placeholder_gut_aber">Schreib uns Deine Einwände</div>
                    <div id="map_overlay_voting_feedback_placeholder_gefallt_mir_nicht">Schreib uns Deine Anregungen</div>
                </div>
                <textarea id="map_overlay_voting_feedback_field"></textarea>
                <div id="map_overlay_voting_feedback_send"><div>Abschicken</div></div>
            </div>
        </div>

        <!-- MAP OVERLAY INNER END -->

    </div>

    <div id="map_overlay_loader"></div>

</div>
