
<div id="menu_button" class="menu_button_hud">
    <a href="/ueber-uns">
        <div id="menu_button_label">Über uns</div>
        <div id="menu_button_circle"><div>i</div></div>
    </a>
</div>


<section id="splashscreen">
    <div id="splashscreen_back" onclick="this.parentNode.style.display='none';"></div>
    <div id="splashscreen_container">
        <div id="splashscreen_text">
            <div id="splashscreen_text_statement">Wie sieht Berlin aus, wenn wir überall mit dem Fahrrad sicher und entspannt unterwegs sein können? Wie können wir dieses Ziel miteinander am schnellsten erreichen?</div>
            <br>
            FixMyBerlin ist in der Entwicklung. Die Karte zeigt zunächst die vorhandenen Radverkehrsanlagen in Berlin, so wie sie von der Senatsverwaltung zur Verfügung gestellt werden. Dazu werden die Unfallschwerpunkte der letzten 2 Jahre abgebildet. (Dank an Stefan Wehrmeyer) Die Plattform soll zukünftig Radverkehrsplanungen des Senates und der Bezirke übersichtlich abbilden und verschiedene Feedback- und Beteiligungsmöglichkeiten bieten. Für aktuelle Informationen abonniert unseren Newsletter. <a>Kontakt</a> für Feedback und Anregungen.
            <input type="email" id="splashscreen_newsletter_email" placeholder="Deine E-Mail Adresse"> 
            <div id="splashscreen_newsletter_email_button">Newsletter abonnieren</div>
            <!--<br /><br />-->
            {{ block_simple_newsletter }}
        </div>
        <img id="splashscreen_logo" src="/themes/fixmycustom/logo.png">
    </div>
</section>

<script type="text/javascript">
    
    var current_timestamp=Date.now();
    
    var last_saved_timestamp=localStorage.getItem("splashscreen_timestamp");
    
    if ( last_saved_timestamp==null || current_timestamp-last_saved_timestamp > 1 * 24 * 60 * 60 * 1000  ) { // 1 min
        localStorage.setItem("splashscreen_timestamp",current_timestamp);
        document.getElementById("splashscreen").style.display="block";
    }    
    
</script>



<div id="map_container" onclick="mapOverlayToggle()"  onmousemove="mapOverlayBlock()">

  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />

  <div id="map"></div>

  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
  <style type="text/css" id="berliner_bezirke">
    #layer {
      polygon-fill: ramp([spatial_name], (#5F4690, #a0d9f1, #38A6A5, #0F8554, #73AF48, #EDAD08, #f49a2f, #CC503E, #94346E, #6F4070, #666666), ("01", "02", "03", "04", "05", "06", "07", "08", "09", "10"), "=");
      polygon-opacity: 0.0;
      line-width: 3;
      line-color: #e7abab;
      line-opacity: 0.7;

    #XHain [spatial_name='02']{
      polygon-fill: #a0d9f1;
      polygon-opacity: 0.3;
      line-width: 3;
      line-color: #a3a3a3;
      }
    #Pank [spatial_name='03']{
      polygon-fill: #e7ce90;
      polygon-opacity: 0.1;
      line-width: 3;
      line-color: #a3a3a3;
      }
      #Span [spatial_name='05']{
      polygon-fill: #e7ce90;
      polygon-opacity: 0.1;
      line-width: 3;
      line-color: #a3a3a3;
        }
     #TS [spatial_name='07']{
      polygon-fill: #e7ce90;
      polygon-opacity: 0.1;
      line-width: 3;
      line-color: #a3a3a3;
      }
    }
  </style>
  <style type="text/css" id="radverkehrsprojekte">
    #layer {
      line-width: 7;
      line-color: ramp([art_d_feedback], (#cd38c6, #641d96, #df98e8), ("Feedback", "Like", "Review"), "=");
    }
  </style>
  <script>
    var map = new L.Map('map', {
      center: [52.520645, 13.409779],
      zoom: 13,
    });

    L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: 'Positron'
      }).addTo(map);

    // Layer Bezirke
    cartodb.createLayer(map, {
        user_name: 'hejco',
        type: 'cartodb',
        sublayers: [{
          sql: "SELECT * FROM berliner_bezirke",
          cartocss: $('#berliner_bezirke').html(),
        }]
      })
      .addTo(map);

    // Layer XBerg Maßnahmen
    cartodb.createLayer(map, {
        user_name: 'hejco',
        type: 'cartodb',
        sublayers: [{
          sql: "SELECT * FROM radverkehrsprojekte_friedrichshainkreuzberg WHERE do_import='1'",
          cartocss: $('#radverkehrsprojekte').html(),
          interactivity: "cartodb_id, uuid",
        }]
      })
      .addTo(map)
      .on('done', function(layer) {
        layer.setInteraction(true);
        layer.on('featureOver', function(e, latlng, pos, data) {
          console.log(data);
        })
        .on('error', function(data) {
          alert("error: " + data);
        });
      })
      .on('error', function(data) {
        alert("error: " + data);
      });
    /*
    var url = '{{ content.field_visualization_url[0] }}';
    window.onload = function() {
      cartodb.createVis('map', url, {
        shareable: false,
        title: false,
        description: true,
        layer_selector: true,
        search: false,
        carto_logo: false,
        fullscreen: true,
        center_lat: 52.520645,
        center_lon: 13.409779,
        zoom: 13
      }).on('done', function(vis, layers) {

        // add zoom controls
        vis.getNativeMap().addControl(L.control.zoom());
        console.log(layers[1].getSubLayer(1).infowindow.attributes.fields["0"].name);

        //
        layers[1].setInteraction(true);
        layers[1].on('featureClick', function(e, latlng, pos, data) {
          var sql_query_url = "https://hejco.carto.com/api/v2/sql?q=SELECT * FROM berlin_bike_accident_spots_2016 WHERE cartodb_id=" + data.cartodb_id;
          $.getJSON(sql_query_url, function(data) {
            $.each(data.rows, function(key, val) {
            });
          });
        });
      })
      .on('error', function(e){
        console.log('error: ' + e);
      });
    }
    */
  </script>
</div>

<script>

    var is_map_overlay_visible=false;
    var is_map_overlay_blocked=false;

    function mapOverlayToggle() {
        if (!is_map_overlay_blocked) {
            if (is_map_overlay_visible) {
                is_map_overlay_visible=false;
                document.getElementById("map_overlay_container").className="map_overlay_container_hidden";
            } else {
                is_map_overlay_visible=true;
                document.getElementById("map_overlay_container").className="";
            }
        }
        is_map_overlay_blocked=false;
    }

    var deblock_timer=null;

    function mapOverlayBlock() {
        is_map_overlay_blocked=true;
        window.clearTimeout(deblock_timer);
        deblock_timer=window.setTimeout("is_map_overlay_blocked=false", 100);

    }

</script>


<div id="map_overlay_container" class="map_overlay_container_hidden">

    <div id="map_overlay_triangle"></div>

    <div id="map_overlay_head">
        <h2 id="map_overlay_head_label">
            Projekt #TS-011<br>
            Neubau Radanlage
            {{ content.field_project_status }}
        </h2>
    </div>

    <div id="map_overlay_data">

        <ul id="map_overlay_gallery">
            {{ content.field_project_images }}
        </ul>
    
        <h1 id="map_overlay_head_title">
            {{ node.label }}
            <div style="display:none;">
           {{ content.votingapi_links }}
           </div>
        </h1>
        
        <div class="map_overlay_title">Ziel dieser Maßnahme</div>
        <div class="map_overlay_content">Durch diese neue geschützte Radanlage wird eine fehlende Netzverbindung im Hauptstraßennetz geschlossen. <a>mehr dazu</a></div>

        <div class="map_overlay_divide"><div></div><div></div></div>

        <div class="map_overlay_title">Fakten zur Maßnahme</div>
        <div class="map_overlay_content">
            <span class="map_overlay_content_fact"><span>Bauzeit:</span> Vorrausichtlich Februar – Mai 2018</span>
            <span class="map_overlay_content_fact"><span>Kosten:</span> ca 30.000 €</span>
            <a>weitere Fakten</a>
        </div>

        <div class="map_overlay_divide"><div></div><div></div></div>

        <div class="map_overlay_title">Zahlen und Daten</div>
        <div class="map_overlay_bignumber">+20%</div>
        <div class="map_overlay_bignumber_label">mehr Radverkehr seit 2005</div>

    </div>
    
    <div id="map_overlay_voting">
        <div class="map_overlay_voting_container" id="map_overlay_voting_container_gut">
            <div class="map_overlay_voting_icon"></div>
            <div class="map_overlay_voting_description">Find ich gut!</div>
        </div>
        <div class="map_overlay_voting_container" id="map_overlay_voting_container_gut_aber">
            <div class="map_overlay_voting_icon"></div>
            <div class="map_overlay_voting_description">Gut, aber</div>
        </div>
        <div class="map_overlay_voting_container" id="map_overlay_voting_container_gefallt_mir_nicht">
            <div class="map_overlay_voting_icon"></div>
            <div class="map_overlay_voting_description">Gefällt mir nicht!</div>
        </div>
    </div>

</div>
